# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
build/
.next/
out/
**/dist/
**/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
.nyc_output/
*.lcov

# Misc
.cache/
.parcel-cache/
.turbo/
.vercel/
.temp/

# Lock files
bun.lockb
yarn.lock
pnpm-lock.yaml

# Prisma
**/prisma/migrations/
!**/prisma/migrations/.gitkeep

# Uploads
**/uploads/*
!**/uploads/.gitkeep

# Database
*.db
*.sqlite
*.sqlite3

# TypeScript
*.tsbuildinfo
