-- CreateEnum
CREATE TYPE "MaintenanceOrderStatus" AS ENUM ('OPEN', 'IN_PROGRESS', 'COMPLETED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "MaintenanceOrderPriority" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "POSProductCategory" AS ENUM ('FOOD', 'BEVERAGE', 'SERVICE', 'CONVENIENCE', 'OTHER');

-- CreateEnum
CREATE TYPE "POSOrderOrigin" AS ENUM ('ROOM_SERVICE', 'FRONTDESK', 'RESTAURANT', 'BAR');

-- CreateEnum
CREATE TYPE "POSOrderStatus" AS ENUM ('OPEN', 'PREPARING', 'DELIVERED', 'CLOSED', 'CANCELLED');

-- CreateTable
CREATE TABLE "MaintenanceOrder" (
    "id" TEXT NOT NULL,
    "roomUnitId" TEXT NOT NULL,
    "status" "MaintenanceOrderStatus" NOT NULL DEFAULT 'OPEN',
    "priority" "MaintenanceOrderPriority" NOT NULL DEFAULT 'MEDIUM',
    "title" TEXT NOT NULL,
    "description" TEXT,
    "notes" TEXT,
    "estimatedCost" DECIMAL(10,2),
    "actualCost" DECIMAL(10,2),
    "openedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MaintenanceOrder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "POSProduct" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" "POSProductCategory" NOT NULL,
    "price" DECIMAL(10,2) NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "POSProduct_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "POSOrder" (
    "id" TEXT NOT NULL,
    "orderNumber" TEXT NOT NULL,
    "stayId" TEXT,
    "roomUnitId" TEXT,
    "origin" "POSOrderOrigin" NOT NULL,
    "status" "POSOrderStatus" NOT NULL DEFAULT 'OPEN',
    "notes" TEXT,
    "totalAmount" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "POSOrder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "POSOrderItem" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "productName" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "unitPrice" DECIMAL(10,2) NOT NULL,
    "totalPrice" DECIMAL(10,2) NOT NULL,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "POSOrderItem_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "MaintenanceOrder_roomUnitId_idx" ON "MaintenanceOrder"("roomUnitId");

-- CreateIndex
CREATE INDEX "MaintenanceOrder_status_idx" ON "MaintenanceOrder"("status");

-- CreateIndex
CREATE INDEX "MaintenanceOrder_priority_idx" ON "MaintenanceOrder"("priority");

-- CreateIndex
CREATE INDEX "POSProduct_category_idx" ON "POSProduct"("category");

-- CreateIndex
CREATE INDEX "POSProduct_isActive_idx" ON "POSProduct"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "POSOrder_orderNumber_key" ON "POSOrder"("orderNumber");

-- CreateIndex
CREATE INDEX "POSOrder_stayId_idx" ON "POSOrder"("stayId");

-- CreateIndex
CREATE INDEX "POSOrder_roomUnitId_idx" ON "POSOrder"("roomUnitId");

-- CreateIndex
CREATE INDEX "POSOrder_origin_idx" ON "POSOrder"("origin");

-- CreateIndex
CREATE INDEX "POSOrder_status_idx" ON "POSOrder"("status");

-- CreateIndex
CREATE INDEX "POSOrderItem_orderId_idx" ON "POSOrderItem"("orderId");

-- CreateIndex
CREATE INDEX "POSOrderItem_productId_idx" ON "POSOrderItem"("productId");

-- AddForeignKey
ALTER TABLE "MaintenanceOrder" ADD CONSTRAINT "MaintenanceOrder_roomUnitId_fkey" FOREIGN KEY ("roomUnitId") REFERENCES "RoomUnit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "POSOrder" ADD CONSTRAINT "POSOrder_stayId_fkey" FOREIGN KEY ("stayId") REFERENCES "Stay"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "POSOrder" ADD CONSTRAINT "POSOrder_roomUnitId_fkey" FOREIGN KEY ("roomUnitId") REFERENCES "RoomUnit"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "POSOrderItem" ADD CONSTRAINT "POSOrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "POSOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "POSOrderItem" ADD CONSTRAINT "POSOrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "POSProduct"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

